<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title><% title %></title>
	<link rel="stylesheet" type="text/css" media="screen" href="assets/common/css/test.css" />
</head>
<body>
	<div id="header">
		<h1><% title %></h1>
	</div>
	<div id="left" class="column">

	</div>
	<div id="middle">
		<% content %>
	</div>
	<div id="right" class="column">

	</div>
	<div id="footer">

	</div>
	
</body>
</html>